name: Deploy to PythonAnywhere

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy on PythonAnywhere
        uses: jensvog/pythonanywhere-webapp-reload-action@v1
        with:
          host: 'eu.pythonanywhere.com'   # albo 'www.pythonanywhere.com'
          username: ${{ secrets.PA_USERNAME }}
          api-token: ${{ secrets.PA_API_TOKEN }}
          domain-name: ${{ secrets.PA_DOMAIN }}
